/* ============================================================
   09. HEADER
/* ============================================================ */

.dark-row {
    .progress-line-current {
        background: #000;
    }
    .member-info-box {
        background: rgba(0,0,0, .8);
    }
    .member-text {
        color: #e2e2e2;
        &:before {
            content: none;
        }
    }
    .member-social {
        a {
            color: #fff;
            &:hover {
                color: $red;
            }
        }
    }
    .member-team-box {
        @media screen and (max-width:1200px) {
            .member-text {
                line-height: 1.5;
                font-size: 12px;
            }
            .member-social a {
                margin: 5px;
            }
        }
        @media screen and (max-width:992px) {
            margin-bottom: 20px;
        }
    }
    .info-section-type2 {

    }
    .g-cat:after {
        background: #fff;
    }
    .mix {
        display: block;
    }
}

.info-section-type2 {
    padding: 40px 0 ;
    overflow: visible;
    @media screen and (max-width:767px) {
        padding: 0;
        .col-sm-6 {
            text-align: center;
        }
    }
    img {
        position: relative;
        margin-bottom: -110px;
        @media screen and (max-width:767px) {
            margin-bottom: 0;
        }
    }

    h2 {
        font-family: "Montserrat";
        color: #fff;
        font-size: 27px;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 20px;
        margin-top: 85px;
        @media screen and (max-width:1200px) {
            margin-top: 65px;
        }
        @media screen and (max-width:992px) {
            margin-top: 50px;
        }
        @media screen and (max-width:767x) {
            font-size: 24px;
            margin-top: 0;
        }
    }
    p {
        font-size: 15px;
        color: #c9c9c9;
    }
    .button {
        background: #fff;
        color: #000;
        font-size: 13px;
        border-color: #fff;
        &:hover {
            background: #e3e3e3;
            border-color: #e3e3e3;
            color: #000 !important;
        }
    }
}

.dark-more {
    color: #000 !important;
    font-size: 13px !important;
    display: inline-block;
    border: 2px solid #e6e6e6;
    border-radius: 2px;
    padding: 14px 25px;
    background: #fff;
    &:hover {
        background: $red;
        border-color:$red;
    }
}

.author {
    span {
        color: #000;
    }
}

.d-clients-section {
    padding: 50px 0;
}

.sign-section {
    padding: 70px 0;
    background: #f7f7f7;
    text-align: center;
    h3 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    form {
        position: relative;
        max-width: 630px;
        width: 100%;
        margin: 0 auto;
        span {
            position: absolute;
            right: 0;
            top: 0;
            width: 55px;
            height: 40px;
            color: #afafaf;
            @extend .transition;
            &:hover {
                color: $red;
            }
            input {
                width: 55px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
            i {
                position: relative;
                top: 11px;
            }
        }
    }
}

.s-email {
    background: #fff;
    height: 40px;
    line-height: 40px;
    border: none;
    width: 100%;
    font-size: 14px;
    color: #8c8c8c;
    padding-left: 15px;
    padding-right: 55px;
    border-radius: 3px;
}


.input-field-3 {
    float: left;
    width: 33.333%;
    padding: 0 15px;
    @media screen and (max-width:767px) {
        width: 100%;
    }
    .p-input {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}


.dark-form {
    text-align: center;
}


.footer-mini-type-2 {
    i.fa-heart-o {
        color: #6b6b6b;
    }
    .ftr-social {
        margin-top: 20px;
    }
}


.col-contact {
    position: relative;
    padding-left: 65px;
    h4 {
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 12px;
    }
    .address {
        font-size: 14px;
        line-height: 1.6;
        color: #8c8c8c;
        a {
            font-size: 14px;
            line-height: 1.6;
            color: #8c8c8c;
            &:hover {
                color: $red;
            }
        }
    }
}

.contact-icon {
    position: absolute;
    left: 15px;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #f4f4f4;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.dark-header.fixed {
    .logo {
        margin-top: 10px;
    }
    @media screen and (max-width:992px) {
        padding-bottom: 10px;
    }
    background: #000;
    @media screen and (min-width:992px) {
        .nav li a {
            color: #fff;
            &:hover {
                color: $red;
            }
        }
    }
    .info-panel a {
        color: #fff;
        &:hover {
            color: $red;
        }
    }
}

.dark-header {
    @media screen and (max-width:992px) {
        .logo {
            margin-top: 10px;
        }
    }
}

.dark-search-panel {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .8);
    .container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 660px;
        width: 100%;
        transform: translate(-50%,-50%);
        padding:30px 20px;
        
        .search-input{
            width: 100%;
            background: #fff;
            border-radius: 2px;
            height: 46px;
            line-height: 46px;
            padding: 0 35px;
            text-transform: none;
        }
        .close-search {
            color: #fff;
            top: 0;
            right: 0;
            @media screen and (max-width:481px) {
                right: 10px;
            }
        }
        span {
            position: absolute;
            left: 20px;
            top: 30px;
            i {
                position: absolute;
                left: 12px;
                top: 14px;
                color: #000;
            }
            input {
                height: 46px;
                width: 35px;
                position: absolute;
                opacity: 0;
            }
        }
    }
}

.banner-type-3 {
    height: 780px;
    min-height: 0;
    .full-height-slider {
        height: 780px !important;
        min-height: 0;
    }
    .full-height-slide {
        min-height: 0;
    }
    .slider-sub-title {
        line-height: 1.3;
    }
    .nav-slider-min {
        width: 45px;
        height: 45px;
        background: #fff;
        border-radius:4px;
        color: #505050;font-size: 20px;
        text-align: center;
        line-height: 45px;
        &:hover {
            opacity: 0.7;
        }
    }
    .arrow-type-1 {
        @media screen and (max-width:1200px) {
            display: none;
        }
    }
    .pagination {
        display: none;
        @media screen and (max-width:1200px) {
            display: block;
        }
    }
    @media screen and (max-width:481px) {
        .center {
            padding: 85px 15px;
        }
    }
}

@media screen and (max-width:1500px) {
    .banner-type-3 {
        height: 600px;
        .full-height-slider {
            height: 600px !important;
        }
    }
}

@media screen and (max-width:992px) {
    .banner-type-3 {
        height: auto;
        .full-height-slider {
            height: auto !important;
        }
    }
}



.overlay-lg {
    background: rgba(0,0,0, .25);
}

.business-slider {
    .button-type-4 {
        background: #e0a047;
        border-color: #e0a047;
    }
}

.no-after {
    &:after{
        content: none;
    }
}

.orange-bar {
    .progress-line-current {
        background: #e0a047;
    }
}


.line-block {
    border-top: 1px solid #f2f2f2;
    margin-top: 15px;
    margin-bottom: 45px;
}

.orange-icon {
    span {
        color: #e0a047;
    }
}


.line-block-2 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 70px;
}

.first-b-info-col {
    background: #e0a047;
}

.black-info-col {
    background: #000;
}

.box-b-info {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 90px 30px 90px 100px;
    @media screen and (max-width:1400px) {
        padding: 70px 15px 70px 50px;
    }
    span {
        color: #fff;
        position: absolute;
        left: -36px;
        font-size: 20px;
        top: -5px;
    }
    h3 {
        color: #fff;
        margin-bottom: 10px;
        position: relative;
    }
    p {
        color: #fff;
        position: relative;
        z-index: 1;
    }
    .button {
        border-color: #fff;
        color: #fff;
        margin-bottom: 0;
        margin-top: 10px;
        position: relative;
        z-index: 1;
        &:hover {
            color: #000 !important;
            background: #fff;
        }
    }
}

.info-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .75);
}

.business-price-table {
    .advantage-package {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 0;
        margin-top: -10px;
        li:first-of-type {
            border-top: 0;
        }
    }
    .col-sm-4:first-of-type {
        .pricing-tab {
            border-right: none;
        }
    }
    .col-sm-4:last-of-type {
        .pricing-tab {
            border-left: none;
        }
    }
    .price-package, .buy-package {
        border: none;
    }
    .package {
        padding-bottom: 0;
        padding-top: 30px;
    }
    .price-package {
        padding: 10px 0 15px;
    }
    .pricing-tab {
        padding-bottom: 10px;
    }
    .button:hover {
        background: #e0a047;
        border-color: #e0a047;
    }
    .package {
        background: #fff !important;
        color: #162532 !important;
    }

}

.best  {
    margin-top: -8px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 18px;
        top: -1px;
        width: 23px;
        height: 52px;
        background: url("../img/best.png");
        @media screen and (max-width:992px) {
            right: 0;
        }
    }
    .button {
        background: #e0a047 !important;
        border-color: #e0a047 !important;
        color: #fff !important;
    }
    .price-package {
        color: #e0a047
    }
    .parametrs {
        margin-bottom: 15px !important;
    }
    .package.active {
        padding-top: 35px;
    }
}


.b-price-info {
    display: block;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 1.5;
    margin-bottom: 30px;
    span {
        display: block;
    }
    sub {
        color: #e0a047;
        font-size: 22px;
    }
}

.b-price-info-type2 {
    margin-top: -12px;
}

.parametrs {
    margin-top: 30px;
    margin-bottom: 5px;
    a {
        font-size: 14px;
        color: #8c8c8c;
        i {
            color: #e0a047;
        }
    }
}

.section-grey {
    background: #fcfcfc;
}

.post-ico-orange {
    background: #e0a047;
    color: #fff !important;
}

.text-section {
    padding: 45px 0 40px;
    background: #fafafa;
    font-size: 18px;
    font-family: "Raleway";
    h3 {
        padding-bottom: 0;
    }
}


.member-team-box-light .member-box {
    padding-top: 0;
    margin-top: 20px;
}

.portfolio-b-item {
    float: left;
    width: 20%;
    position: relative;
    @media screen and (max-width:992px) {
        width: 100%;
        max-width: 380px;
        float: none;
        margin: 0 auto;
    }
    img {
        max-width: 100%;
        display: block;
        height: auto;
        cursor: pointer;
    }
}


.portfolio-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .76);
    transition: opacity 0.5s linear;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

.portfolio-mask-info {
    position: absolute;
    top: 30px;
    left: 30px;
    @media screen and (max-width:1300px) {
        top: 10px;
        left: 10px;
    }
    span {
        display: block;
        font-size: 11px;
        color: #424e58;
        margin-bottom: 7px;
    }
    h3 {
        font-size: 16px;
        font-family: 'Raleway';
        font-weight: 600;
        @media screen and (max-width:1400px) {
            font-size: 14px;
        }

    }
}

.portfolio-mask-info-bottom {
    position: absolute;
    bottom: 30px;
    left: 30px;
    @media screen and (max-width:1300px) {
        bottom: 10px;
        left: 10px;
    }
    a {
        display: inline-block;
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
        background: #fff;
        color: #424e58;
        border-radius: 2px;
        &:hover {
            background: #a2cc55;
            color: #fff;
        }
    }
}

.buy-container {
    background: #fcfcfc;
    padding: 30px 0;
    .button {
        float: right;
        margin-bottom: 0;
        font-size: 16px;
        color: #949494;
        @media screen and (max-width:992px) {
            float: none;
            display: table;
            margin: 0 auto;
        }
        &:hover {
            background: #e0a047;
            border-color: #e0a047;
        }
    }
    span {
        font-size: 16px;
        color: #697279;
        padding-top: 13px;
        float: left;
        display: inline-block;
        @media screen and (max-width:992px) {
            width: 100%;
            text-align: center;
            line-height: 1.3;
            margin-bottom: 20px;
        }
    }
}

.sub-title-italic {
    font-family: 'Georgia';
    font-style: italic;
    color: #909090;
    font-size: 16px;

}

.minimal-banner {
    @media screen and (max-width:992px) {
        .button {
            background: $red;
            color: #fff;
            border-color: $red;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.minimal-title {
    &:after {
        background: #000;
    }
}

.minimal-filter {
    li a {
        color: #909090;
    }
    li {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.minimal-work {
    .g-project-info {
        background: rgba(255,255,255, .85);
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        @media screen and (max-width:1400px) {
            top: 5px;
            left: 5px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
        }
    }
    h3 {
        color: #343434;
        font-size: 15px;
    }
    .inner-cat {
        color: #697279;
        font-size: 13px;
    }
}

.minimal-team {
  .member-position {
      font-family: 'PT Serif', serif;
      font-style: italic;
  }
    .member-info-box {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
    .member-text {
        text-align: left;
        &:before {
            margin-left: 0;
            background: #dfdfdf;
        }
    }
    .member-social {
        text-align: left;
        a {
            color: #70777d;
            &:hover {
                color: #35424d;
            }
        }
    }
    .member-info{
        h3 {
            font-size: 13px;
            text-align: left;
        }
    }
}


.counter-box {
    float: left;
    width: 16.6666%;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px solid #e8e8e8;
    @media screen and (max-width:992px) {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    @media screen and (max-width:700px) {
        width: 33.333%;
    }
    &:last-of-type {
        border-right: 0;
    }
    h3 {
        font-size: 46px;
        color: #292929;
        padding-bottom: 0;
        display: inline-block;
        @media screen and (max-width:992px) {
            font-size: 30px;
        }
    }
    span {
        color: #909396;
        text-transform: uppercase;
        font-size: 11px;
        display: block;
        @media screen and (max-width:400px) {
            font-size: 8px;
        }
    }
}

.post-row {
    max-width: 770px;
    width: 100%;
    margin:  0 auto 20px;
    text-align: center;
    padding: 0 15px;
    h3 {
        &:before {
            content: '';
            width: 17px;
            height: 2px;
            background: #dfdfdf;
            display: block;
            margin: 0 auto 15px;
        }
        a {
            color: #343434;
            font-size: 15px;
            line-height: 1.2;
            &:hover {
                color: $red;
            }
        }
    }
}

.post-row-info {
    font-size: 11px;
    text-transform: uppercase;
    color: #6d7272;
    margin-bottom: 15px;
}


.relative {
    .container  {
        position: relative;
        z-index: 1;
    }
}

.lg-title-block {
    .minimal-title {
        color:  #fff !important;
        &:after {
            background: #fff;
        }
    }
    .sub-title-italic {
        color: #fff !important;
    }
}

.ftr-mini-social {
    margin-top: 0 !important;
    margin-bottom: 20px;
    a:hover {
        color: #76acde;
    }
}

.black-section {
    background: #000;
}

.black-ftr {
    background: #000 !important;
    .copy-row {
        border: none;
        padding-top: 0;
    }
}

.black-form {
    input, textarea {
        background: #000;
        border-color: #393939;
        color: #afafaf;
        &::-webkit-input-placeholder {color:#afafaf;}
        &::-moz-placeholder          {color:#afafaf;}
        &:-moz-placeholder           {color:#afafaf;}
        &:-ms-input-placeholder      {color:#afafaf;}
    }
    .p-submit {
        background: #292929;
        color: #fff;
        &:hover {
            background: $red;
        }
    }
}




.minimal-header {
    position: absolute;
    left: 0;
    top:25px;
    width: 100%;
    z-index: 999;
}

.minimal-logo {
    float: left;
}

.open-minimal-menu {
    float: right;
    color: #000;
    margin-top: 5px;
}

.minimal-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .87);
    opacity: 0;
    transform: translateX(100%);
    @extend .transition;
    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}



.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-y: auto;
    li {
        margin: 9px 0;
        list-style: none;
        padding: 9px 0;
        @media screen and (max-width:992px) {
            margin: 6px 0;
            padding: 6px 0;
        }
        a {
            text-transform: uppercase;
            font-size: 18px;
        }
        &.active {
            a {
                color: $red;
            }
        }
    }
}

.close-mini-menu {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    border: 2px solid #494949;
    text-align: center;
    color: #fff;
    line-height: 32px;
    display: inline-block;
    float: right;
    margin-top: 26px;
}

.minimal-bg {
    @media screen and (max-width:992px) {
        background-position: 50% -34px;
    }
}


.build-slider {
    .arrow-type-1 {
        background: transparent;
        color: #fff;
        @media screen and (max-width:1400px) {
            display: none;
        }
    }
    .container {
        position: relative;
        height: 780px;
        min-height: 0;
        @media screen and (max-width:1500px) {
            height: 600px;
        }
        @media screen and (max-width:992px) {
            height: auto;
        }
    }

    .pagination {
        @media screen and (max-width:1400px) {
            display: block;
        }
    }
    .button-row {
        text-align: left;
        @media screen and (max-width:992px) {
            text-align: center;
        }
        a {
            border-radius: 40px !important;
        }
        a.button-type-4 {
            background: #fab524;
            border-color: #fab524;
            &:hover {
                color: #fab524;
                background: #fff;
                border-color: #fff;
            }
        }
    }
}

.banner-type-left {
    .container {
        position: relative;
        height: 780px;
        min-height: 0;
        @media screen and (max-width:1500px) {
            height: 600px;
        }
        @media screen and (max-width:992px) {
            height: auto;
        }
    }
    .button-row {
        text-align: left;
        @media screen and (max-width:992px) {
            text-align: center;
        }
    }
}


@media screen and (min-width:992px) {
    .center-left {
        text-align: left;
        left: 0;
        transform: translate(0,-50%);
    }
}



.title-build {
    .title {
        &:after {
            background: #fab524;
        }
    }
}



.container-front {
    position: relative;
    z-index: 1;
}

.white-section {
    position: relative;
    .middle-title, p, .sub-title, .title {
        color: #fff;
    }
    p {
        color: #e3e3e3;
    }
    span {
        color: #efad23 !important;
    }
}

.build-box {
    width: 100%;
    margin-bottom: 30px;
    .portfolio-mask {
        background: rgba(0,0,0, .45);
    }
    span, h3 {
        color: #fff;
    }
    h3 {
        font-family: "Raleway";
       font-weight: 500;
    }
    .btn-view {
        display: inline-block;
        height: auto;
        width: auto;
        color: #fff;
        border-radius: 30px;
        padding: 11px 17px;
        border: 2px solid #fff;
        background: transparent;
        line-height: 1;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        &:hover {
            background: #fab524;
            border-color: #fab524;
        }
    }
    img {
        width: 100%;
    }
}

.build-filter {
    li  {
        a {
            font-family: 'Raleway';
             padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            &:hover {
                color: #fab524;
            }
        }
        &.active {
            a {
                color: #fab524;
                border-color: #fab524;
            }
        }
    }
}

.build-team {
    text-align: center;
}

.b-social-team {
    a {
        color: #8d8d8d;
        margin: 0 5px;
        &:hover {
            color: #fab524;
        }
    }
}

.build-counter {
    overflow: hidden;
    .counter-box {
        border: none;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: -1px;
            top: 50%;
            width: 1px;
            background: #e8e8e8;
            height: 66px;
            margin-top: -33px;
        }

    }
}

.build-btn {
    border-width: 2px;
    border-radius: 30px;
    width: 350px;
    @media screen and (max-width:481px) {
        width: auto;
    }
    &:hover {
        background: #fab524;
        border-color: #fab524;
    }
}

.sign-build {
    max-width: 770px;
    margin: 0 auto;
}

.sb-email {
    max-width: 613px;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    border: 2px solid #f0f0f0;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 13px;
    color: #aeaeae;
    @media screen and (max-width:992px) {
        max-width: 100%;
        float: none;
    }
}

.sb-submit {
    width: 150px;
    text-transform: uppercase;
    float: right;
    background: #fab524;
    color: #fff;
    line-height: 37px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    @extend .transition;
    &:hover {
        opacity: 0.8;
    }
    @media screen and (max-width:992px) {
        margin: 20px auto 0 ;
        float: none;
        display: table;
    }
}

.ftr-logo {
    margin-bottom: 12px;
    display: inline-block;
}

.ftr-text {
    color: #fff;
}

.build-contact-us {
    input, textarea {
        border-radius: 15px !important;
    }
    .submit {
        background: transparent !important;
        border: 2px solid #45494e;
        padding-bottom: 10px;
        height: 38px;
        border-radius: 30px !important;
        &:hover {
            background: #fab524;
            border-color: #fab524;
        }
    }
}

.info-section-build {
    .overlay {
        background: rgba(248, 185, 52, .88);
    }
}

.info-section-build {
    .title {
        color: #162532;
        &:after {
            background: #fff;
        }
    }
    .author {
        color: #fff;
    }
    .testimonials {
        font-family: 'PT Serif', serif;
        font-style: italic;
        color: #000;
    }
    .title-block {
        margin-bottom: 0;
    }
    .author-ava {
        display: table;
        margin: 20px auto 10px;
    }
    .arrow-type-1 {
        font-size: 30px;
    }
}
.landing-header {
    .logo {
        margin-top: 10px;
        @media screen and (max-width:992px) {
            margin-top: 0;

        }
    }

    @media screen and (max-width:992px) {
        .info-panel {
            padding-top: 0;
        }
        .logo-light {
            display: none;
        }
        .logo-dark {
            display: block !important;
        }
    }
}

.build-line {
    background: #d2d2d2;
    position: relative;
    height: 3px;

    &:after {
        content:'';
        position: absolute;
        right: 0;
        top: 0;
        background: #fab524;
        width: 50%;
        height: 3px;
    }
}

.title-medical {
    .title {
        color: #343639;
        text-transform: none;
        font-weight: 500;
    }
}

.medical-col {
    text-align: center;
    img {
        margin-bottom: 15px;
    }
}

.medical-h3 {
    font-size: 18px;
    color: #343639;font-family: 'Raleway';
    font-weight: 600;
    text-transform: none;
    a {
        font-size: 18px;
        color: #343639;font-family: 'Raleway';
        font-weight: 600;
        &:hover {
            color: #9acfe3;
        }
    }
}

.blue-section {
    background: #f7fbfc;
}

.personal-col {
    @media screen and (max-width:992px) {
        margin-bottom: 15px;
    }
    .member-team-box {
        background: #fff;
        padding-bottom: 25px;
    }
    p {
        padding-left: 15px;
        padding-right: 15px;
    }
    a {
        &:hover {
            color: #9acfe3;
        }
    }
    span {
        color: #9acfe3;
        text-transform: uppercase;
        font-size: 10px;
    }
    .member-name {
        font-size: 17px;
        color: #343639;font-family: 'Raleway';
        font-weight: 600;
        text-transform: none;
    }
}

.medical-info-section {
    .overlay {
        background: rgba(118,172,222, .9);
    }
    .info-title {
        font-size: 36px;
        font-family: 'Raleway';
        font-weight: 400;
        text-transform: none;
    }
    .info-sub-title {
        font-size: 16px;
        text-transform: none;
        margin-bottom: 25px;
    }
}

.medical-patient {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    background: #ed6244;
    padding: 16px 18px;
    &:hover {
        opacity: 0.7;
        color: #fff;
    }
}

.medical-news {
    .l-post-title {
        margin-top: 10px;
        padding-bottom: 10px;
        a {
            font-size: 16px;
            color: #343639;
            font-family: 'Raleway';
            text-transform: none;
            font-weight: 600;
            &:hover {
                color: #9acfe3;
            }
        }
    }
    p {
        font-size: 14px;
    }
    .l-post-info {
        margin-top: 15px;
        a {
            text-transform: none;
            &:hover {
                color: #9acfe3;
            }
        }
    }
    .latest-post {
        max-width: 262px;
        margin: 0 auto;
    }
}

.read {
    display: inline-block;
    border: 2px solid #e6ecee;
    padding: 0 19px;
    height: 35px;
    line-height: 31px;
    border-radius: 20px;
    color: #848b8d;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 20px;
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }
    &:hover {
        background: #ed6244;
        color: #fff;
        border-color: #ed6244;

    }
}

.medical-testimonials {
    .author {
        text-transform: none;
        font-size: 14px;
        font-weight: 500;
    }

    .arrow-type-1 {
        font-size: 30px;
        color: #000;
    }
}

.medical-copy-row {
    background: #f7fbfc !important;
}

.medical-footer{
    a:hover {
        color: #9acfe3 !important;
    }
}

.medical-form {
    label {
        color: #afb2b7;
        font-size: 12px;
        margin-bottom: 10px;
    }
    input, textarea {
        border: 2px solid #484b4f !important;
        background: #343639 !important;
    }
    .submit {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        background: #ed6244 !important;
        border: none !important;
        padding: 16px 18px;
        height: auto;
        line-height: 1;
        &:hover {
            opacity: 0.7;
            color: #fff;
        }
    }

}

.footer.medical-footer {
    background: #343639;
    p, .recent-list li a , .ftr-list span, .ftr-list a{
        color: #afb2b7;
    }
}


.blocks {
    position: relative;
    z-index: 545;
    margin-top: -10px;
}



.block {
    padding:1px;
    float: left;
    width: 25%;
    @media screen and (max-width:992px) {
        width: 50%;
    }
    @media screen and (max-width:767px) {
        width: 100%;
    }
    &:nth-of-type(2) {
        .block-inner {
            background: #6cbcd9;
        }
    }
    &:nth-of-type(3) {
        .block-inner {
            background: #5fadc9;
        }
    }
    &:nth-of-type(4) {
        .block-inner {
            background: #38a3c9;
        }
    }
}


.block-inner{
    background: #8bc8de;
    padding: 70px 18px 5px;
    position: relative;
    border-radius: 3px;
    img {
        position: absolute;
        left: 18px;
        top: 25px;
    }
    h3 {
        font-size: 20px;
        font-family: "Raleway";
        text-transform: none;
        color: #fff;
    }
    p {
        color: #fff;
    }
    .read {
        color: #fff;
    }
}


.medical-header {
    border: 1px solid #f1f1f1;
    .logo {
        margin-top: 5px;
    }
    @media screen and (max-width:992px) {
        margin-top: 0;
        .info-panel {
            margin-top: 8px;
        }
    }
    .nav li a:hover, .nav li.active a {
        color: #8bc8de;
    }
}

.medical-banner {
    .swiper-arrow-left {
        left: 0;
        border-radius: 0;
        @media screen and (max-width:1250px) {
            display: none;
        }
    }
    .swiper-arrow-right {
        right: 0;
        border-radius: 0;
        @media screen and (max-width:1250px) {
            display: none;
        }
    }
    .pagination {
        display: block;
    }

    .pagination-white  .swiper-pagination-switch {
        border-color: #38a3c9;
    }
    .pagination-white .swiper-active-switch {
        background: #38a3c9;
        border-color: #38a3c9;
    }
    .slide-title {
        color: #343639;
        text-transform: none;
        font-family: 'Raleway';
        font-size: 37px;
        @media screen and (max-width:767px) {
            font-size: 32px;
        }
    }
    .slider-sub-title {
        color: #343639;
    }
    .overlay {
        background: rgba(255,255,255, .6);
        display: none;
        @media screen and (max-width:992px) {
            display: block;
        }
    }
}

.medical-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .58);
    z-index: 999999;
    overflow-y: auto;
    display: none;
}


.medical-popup-container {
    padding: 50px 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 1170px;
    width: 100%;
}

.medical-popup-box {
    padding: 60px 40px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    @media screen and (max-width:600px) {
        padding:30px 15px;
    }
}

.close-medical {
    position: absolute;
    cursor: pointer;
    color: #ed6244;
    right: 15px;
    top: 15px;
}

.medical--form {
    text-align: center;
    input[type=text], input[type=email],textarea {
        width: 100%;
        margin-bottom: 30px;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
        height: 38px;
        line-height: 38px;
        padding: 10px;
        padding-right: 10px;
        font-size: 13px;
    }
    textarea {
        height: 100px;
        line-height: 1.2;
    }
    input[type=submit] {
        color: #fff;
        border: none;
    }
}

.travel-banner {
    .overlay {
        background: rgba(0,0,0, .5);
    }
    .center {
        max-width: 830px;
    }
    a {
        border-radius: 30px;
        padding-left: 33px;
        padding-right: 33px;
    }
    .button-type-4 {
        background: #f87255;
        border-color:#f87255;
        &:hover {
            color: #f87255;
            background: #fff;
            border-color: #fff;
        }
    }
    .scroll-to {
        border-color: #fff;
    }
}


.title-travel {
    .title {
        color: #000;
        &:after {
            background: #dfdfdf;
        }
    }
    .sub-title {
        font-size: 15px;
        font-family: "Georgia";
        color: #8d8d8d;
    }
}

.travel-info-section {
    .info-title {
        font-size: 24px;
    }
    .info-sub-title {
        max-width: 800px;
        margin:15px auto;
        line-height: 25px;
        text-transform: none;
        font-size: 16px;
    }
    .overlay {
        background: rgba(0,0,0, .6);
    }
}

.travel-btn {
    background: #f87255;
    border-color:#f87255;
    border-radius: 30px;
    padding-left: 33px;
    padding-right: 33px;
    &:hover {
        color: #f87255;
        background: #fff;
        border-color: #fff;
    }
}

.travel-tour {
    h3 {
        margin-top: 0;
    }
    .travel {
        text-transform: uppercase;
        display: block;
        margin-top: 24px;
        margin-bottom: 13px;
        font-size: 11px;
        color: #f87255;
    }
    .read {
        position: absolute;
        right: 15px;
        bottom: -30px;
        border-color: #f2efea;
        @media screen and (max-width:992px) {
            position: relative;
            top: 0;
            bottom: 0;
            margin-top: 10px;
        }
        @media screen and (max-width:767px) {
            margin-left: 15px;
        }
        &:hover {
            background: #f87255;
        }
    }
    .about-col {
        margin-bottom: 50px;
    }
}

.price-tour {
    color: #7b7b7b;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
    span {
        font-size: 17px;
        font-family: 'Montserrat';
        color: #e17255;
    }
}

.show-tour {
    border-radius: 30px;
    border: 2px solid #f2efea;
    &:hover {
        background: #e17255;
        border-color: #e17255;
    }
}

.t-gray-section {
    background: #faf8f5;
}

.travel-team {
    .member-position {
        text-transform: uppercase;
        color: $red;
        font-size: 10px;
        font-weight: 500;
    }
}

.travel-info-section.info-section-light {
    .info-title {
        margin-bottom: 25px;
    }
    .author {
        font-family: 'Raleway';
        font-weight: 500;
    }
}

.buy-container-travel {
    .button {
        font-size: 12px;
        color: #fff;
    }
}

.travel-news {
    .l-post-title {
        margin-top: 10px;
        padding-bottom: 10px;
        &:after {
            content: '';
            width: 18px;
            height: 2px;
            background: #dfdfdf;
            display: block;
            margin-top: 15px;
        }
    }
        .l-post-info {
            margin-top:15px;
            display: inline-block;
            a {
                text-transform: uppercase;
                &:hover {
                    color: #e17255;
                }
            }
        }
}


.map-container-type-6 {
    #map-canvas {
        height: 300px !important;
    }
}


.contact-section {
    .title-block {
        margin-bottom: 20px;
    }
    .title {
        font-size: 19px;
        &:after {
            margin-left: 0;
        }
    }
    .sub-title ,.title{
        text-align: left;
        margin-left: 0;
    }
    a, span {
        color: #8c8c8c !important;
    }
    a {
        &:hover {
            color: #e17255 !important;
        }
    }
    i {
        @extend .transition;
        color: #6c7171 !important;
        &:hover {
            color: #e17255 !important;
        }
    }
    .contact-us {
        margin-top: 28px;
        input,textarea {
            background: transparent;
            border: 2px solid #dfdfdf ;
            margin-bottom: 20px;
        }
        textarea {
            height: 123px;
        }
        input[type=submit] {
            background: #f87255;
            border-color:#f87255;
            border-radius: 30px;
            padding-left: 33px;
            padding-right: 33px;
            border: none;
            height: 42px;
            line-height: 42px;
            &:hover {
                color: #fff;
                opacity: 0.7;
            }
        }
    }
    @media screen and (max-width:767px) {
        .ftr-social {
            margin-bottom: 30px;
        }
    }
}

.travel-tables {
    .pricing-tab {
        @media screen and (max-width:767px) {
            max-width: 358px;
            margin: 0 auto 30px;
        }
    }
    img {
        display: block;
        height: auto;
        max-width: 100%;
    }
    .package {
        font-size: 15px;
        padding: 28px 0 27px;
        span {
            font-family: 'Raleway';
            font-style: normal;
            font-size: 12px;
            color: #7b7b7b;
        }
    }
    .advantage-package {
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        li {
            border-top: 0;
            border-bottom: 1px solid #e8e8e8;
        }
    }
    .pricing-tab {
        &:hover {
            .package {
                background: #fff;
                color: #000;
            }
        }
    }
    
    .price-package {
        border: none;
        font-family: 'Montserrat';
        font-size: 33px;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .buy-package {
        border: none;
        .button {
            border-radius: 30px;
            &:hover {
                background: #e27255;
                border-color: #e27255;
            }
        }
    }
    .best-travel {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 18px;
            top: -1px;
            width: 25px;
            height: 53px;
            background: url("../img/best2.png");
            @media screen and (max-width:992px) {
                right: 0;
            }
        }
            .button {
                    background: #e27255;
                    border-color: #e27255;
                color: #fff;
                }
    }

}

.travel-header{
    .nav li a:hover, .nav li.active a {
        color: #e17255;
    }
}

.gym-slider {
    .arrow-type-1 {
        background: transparent;
        color: #fff;
        &:hover {
            color:#fa3a2f;
        }
    }
    .button-type-4 {
        background: #fa3a2f;
        border-color:#fa3a2f;
        &:hover {
            color: #fff;
            opacity: 0.8;
        }
    }
}

.block-gym {
    overflow: hidden;
    background-size: cover !important;
    background-position: center;
    padding-left: 0;
    padding-top: 43px;
    padding-bottom: 40px;
    h3 {
        background: #000;
        display: inline-block;
        transform: skewX(20deg);
        padding-bottom: 0;
        margin-left: -10px;
        padding-top: 0;
        position: relative;
        margin-bottom: 15px;
        @extend .transition;
        &:hover {
            background: #e5362b;
            a {
                color: #fff;
            }
        }
        &:after {
            content: '';
            height: 39px;
            background: #e5362b;
            width: 3px;
            display: inline-block;
            position: absolute;
            right:-5px;
            top: 0;
        }
        a {
            font-size: 15px;
            text-transform: uppercase;
            font-family: "Montserrat";
            padding: 11px 30px 10px 29px;
            transform: skewX(-20deg);
        }
    }
    p {
        padding-left: 19px;
        padding-bottom: 15px;
    }
}


.gym-price {
    color: #fff;
    padding-left: 19px;
    font-size: 13px;
    font-family: 'Montserrat';
    span {
        font-size: 22px;
    }
}

.gym-info {
    h3 {
        font-size: 15px;
    }
}

.title-gym {
    .title {
        color: #000;
        &:after {
            background: #fa3a2f;
        }
    }
    .sub-title {
        color: #777b80;
    }
}

.class-col {
    .about-link {
        position: relative;
        display: block;
        img {
            width: 100%;
        }
        &:hover {
            .lesson-price {
                background: #e5362b;
                color: #fff;
            }
        }
    }
}

.lesson-price {
    position: absolute;
    left: 0;
    bottom: 18px;
    font-family: "Montserrat";
    font-size: 10px;
    background: #000;
    display: inline-block;
    transform: skewX(20deg);
    padding: 7px 20px 7px 28px;
    margin-left: -20px;
    @extend .transition;
    &:after {
        content: '';
        height: 29px;
        background: #e5362b;
        width: 3px;
        display: inline-block;
        position: absolute;
        right:-5px;
        top: 0;
    }
    span {
        font-size: 15px;
    }
}

.lesson-price-inner {
    transform: skewX(-20deg);
}

.gym-btn {
    background: #fa3a2f;
    border-color: #fa3a2f;
    &:hover {
        background: #fa3a2f;
        border-color: #fa3a2f;
        opacity: 0.8;
        color: #fff;
    }
}

.trainers {
    .b-social-team {
        a {
            &:hover {
                color: #fa3a2f !important;
            }
        }
    }
    .member-position {
        color:  #fa3a2f;
        text-transform: uppercase;
        font-size: 10px;
        font-family: 'Montserrat';
    }
}

.g-grey-section {
    background: #fafafa;
}

.photo-sport {
    .portfolio-navi  {
        color: #000;
        @media screen and (max-width:992px) {
            top: 0;
        }
    }
    .portfolio-prev {
        left: 20px;
        @media screen and (max-width:992px) {
            left: auto;
        }
    }

}

.sport-news {
    .l-post-title {
        margin-top: 20px;
        a:hover {
            color: #fa3a2f;
        }
    }
    .l-post-info {
        margin-top: 0;
        margin-bottom: 10px;
        i  {
            margin-right: 5px;
        }
    }
    .col-sm-6 {
        margin-bottom: 30px;
    }
}

.travel-info-section {
    .arrow-type-1 {
        font-size: 32px;
    }
}


.gym-contact {
    span {
        border: none;
        color: #fa3a2f;
    }
}

.social-bottom {
    margin-top: 50px;
    background: #fff;
    padding-top: 28px;
    padding-bottom: 26px;
    a {
        color: #8e8e8e;
        &:hover {
            color: #fa3a2f;
        }
    }
    .ftr-social {
        display: table;
        margin: 0 auto;
    }
}

.footer.footer-mini-type-3 {
    padding-bottom: 0;
}

.gym-header{
    .logo {
        margin-top: 12px;
        @media screen and (max-width:992px) {
            margin-top: 5px;
        }
    }
    @media screen and (max-width:992px) {
        .info-panel {
            padding-top: 2px;
        }
    }
    .nav li a:hover, .nav li.active a {
        color: #fa3a2f;
    }
}

.head-panel {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #171717;
    @media screen and (max-width:992px) {
        display: none;
    }
    .ftr-social {
        float: right;
        padding-top: 0;
        margin-top: 0;
        a {
            color: #fff;
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                color: #fa3a2f;
            }
        }
    }
}

.sport-info-link {
    float: left;
    a {
        float: left;
        display: inline-block;
        font-family: "Montserrat";
        font-size: 13px;
        margin-right: 35px;
        i {
            margin-right: 5px;
        }
    }
}

.kids-banner {
    background: #fcfcfc;
    .slide-title {
        font-family: 'Cookie', cursive;
        color: #343639;
        text-transform: none;
        font-size: 58px;  line-height: 1;
        @media screen and (max-width:767px) {
            font-size: 42px;
        }

    }
    .slider-sub-title {
        color: #5b5e64;
    }
}

.kids-btn {
    border-radius: 30px;
    background: #bb5592;
    border-color: #bb5592;
    &:hover {
        background: #bb5592;
        border-color: #bb5592;
        color: #fff;
        opacity: 0.8;
    }
}

.title-kids  {
    .title {
        font-family: 'Cookie', cursive;
        color: #343639;
        font-size: 39px;
        text-transform: none;
    }
}

.kids-info {
    h3 {
        text-transform: none;
    }
}

.kids-section {
    position: relative;
    .info-sub-title {
        color: #fff;
    }
    .info-title {
        font-size: 47px;
        font-family: 'Cookie', cursive;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 7px;
        background: url("../img/bg-bottom.png") repeat-x;
        z-index: 11;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7px;
        background: url("../img/bg-top.png") repeat-x;
        z-index: 55;
    }

}

.teacher {
    .member-position {
        color: #bb5592;
    }
    .b-social-team {
        a {
            width: 30px;
            height: 30px;
            border: 1px solid #f5f5f5;
            border-radius: 50%;
            line-height: 28px;
            font-size: 14px;
            &:hover {
                color: #fff;
                background: #bb5592;
            }
        }
    }
}

.k-blue-section {
    position: relative;
    background: #f5f9f9;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 7px;
        background: url("../img/bg-bottom.png") repeat-x;
        z-index: 11;
    }
    .g-project-info {
        background: rgba(187,85,146, .78);
    }
    .g-cat {
        color: #fff;
    }
    .g-cat:after  {
        content: none;
    }
    .gallery-box {
        img {
            width: 100%;
        }
    }
    h3 {
        font-family: "Raleway";
        font-weight: 500;
    }
    .circle-ic {
        border: 2px solid #fff;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 10px;
        line-height: 36px;
        color: #fff;
    }
}

.k-testimonials {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7px;
        background: url("../img/bg-top.png") repeat-x;
        z-index: 55;
    }
    .arrow-type-1 {
        font-size: 32px;
        color: #8c8c8c;
    }
    .author {
        font-size: 18px;
        color: #8c8c8c;
        font-family: 'Cookie';
        text-transform: none;
        font-weight: 400;
    }
}

.kids-package {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    text-align: center;
    @media screen and (max-width:767px) {
        max-width: 360px;
        margin:  0 auto 30px;
    }
}

.k-pack-plan {
    padding: 34px 0;
    background: #93cde2;
    text-align: center;
    border-radius: 5px 5px 150px  150px / 5px 5px 30px 30px ;

}

.k-pack-name {
    margin-bottom: 14px;
    font-size: 14px;
    color: #fff;
    font-family: 'Comic';
}

.k-pack-price {
    font-size: 40px;
    color: #fff;
    font-family: 'Comic';
    @media screen and (max-width:992px) {

    }
    span {
        display: block;
        font-family: "Raleway";
        font-size: 14px;
        margin-top: 14px;
    }
}


.child-counter {
    .count-name, .count-amount {
        font-family: 'Comic';
    }
}

.k-pack-plan-list {
    margin-top: 34px;
    li {
        font-size: 14px;
        color: #8c8c8c;
        margin-bottom: 30px;
        list-style: none;
    }
}

.kid-sign {
    border: 2px solid #93cde2;
    display: inline-block;
    color: #93cde2;
    text-transform: uppercase;
    border-radius: 30px;
    margin: 3px 0 39px;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 27px 14px;
    &:hover {
        background: #93cde2;
        color: #fff !important;
    }
}

.kids-package2 {
    .k-pack-plan {
        background: #8bbf91;
    }
    .kid-sign {
        border-color: #8bbf91;
        color: #8bbf91;
        &:hover {
            background: #8bbf91;
        }
    }
}

.kids-package3 {
    .k-pack-plan {
        background: #eebd4f;
    }
    .kid-sign {
        border-color: #eebd4f;
        color: #eebd4f;
        &:hover {
            background: #eebd4f;
        }
    }
}


.child-counter.time-line-light {
     .count-box:before {
         content: none;
     }
}

.kids-news {
    .latest-post {
        max-width: 360px;
    }
    .latest-post-link {
        display: block;
        img {
            width: 100%;
        }
    }
    .l-post-title {
        a {
            &:hover {
                color: #bb5592 !important;
            }
        }
    }
}


.contact-kids {
    .p-input {
        border-radius: 30px;
        padding-left: 20px;
        height: 37px;
        line-height: 37px;
        border-width: 2px;
    }
    .p-textarea {
        border-width: 2px;
        border-radius: 20px;
        resize: none;
    }
}

.kids-contact {
    span {
        color: #ebbb4e;
    }
}

.footer-mini {
    a:last-of-type {
        margin-right: 0;
    }
}


.kids-footer {
    background: #495052 !important;
    padding-bottom: 35px !important;
    .ftr-social {
        margin-top: 20px !important;
    }
}

.color {
    height: 3px;
    background: #93cde2;
    float: left;
    width: 11.1111%;
    &:nth-of-type(2) {
        background: #8bbf91;
    }
    &:nth-of-type(3) {
        background: #eebd4f;
    }
    &:nth-of-type(4) {
        background: #bb5592;
    }
    &:nth-of-type(5) {
        background: #adbf5d;
    }
    &:nth-of-type(6) {
        background: #e99c63;
    }
    &:nth-of-type(7) {
        background: #d25056;
    }
    &:nth-of-type(8) {
        background: #8bbf91;
    }
    &:nth-of-type(9) {
        background: #f17c7f;
    }
}

.kids-header {
    border-bottom: 1px solid #f1f1f1;
    .info-panel {
        display: none;
        @media screen and (max-width:992px) {
            display: block;
        }
    }
    @media screen and (min-width:992px) {

    .nav > ul > li {
        &:before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: relative;
            display: inline-block;
            background: #93cde2;
            margin-right: 10px;
            top:-2px;
        }
        &.active > a, & > a:hover {
            color: #93cde2;
        }
    }
    .nav > ul > li:nth-of-type(2) {
        &:before {
            background: #f17c7f;
        }
        &.active > a, & > a:hover {
           color: #f17c7f;
        }
    }
    .nav > ul > li:nth-of-type(3) {
        &:before {
            background: #adbf5d;
        }
        &.active > a, & > a:hover {
            color: #adbf5d;
        }
    }
    .nav > ul > li:nth-of-type(4) {
        &:before {
            background: #fce289;
        }
        &.active > a, & > a:hover {
            color: #fce289;
        }
    }
    .nav > ul > li:nth-of-type(5) {
        &:before {
            background: #bb5592;
        }
        &.active > a, & > a:hover {
            color: #bb5592;
        }
    }
    .nav > ul > li:nth-of-type(6) {
        &:before {
            background: #e99c63;
        }
        &.active > a, & > a:hover {
            color: #e99c63;
        }
    }
    .nav > ul > li:nth-of-type(7) {
        &:before {
            background: #b60109;
        }
        &.active > a, & > a:hover {
            color: #b60109;
        }
    }
    .nav > ul > li:nth-of-type(8) {
        &:before {
            background: #8968a2;
        }
        &.active > a, & > a:hover {
            color: #8968a2;
        }
    }
    }
}

.kids-panel {
    background: #8bbf91;
    padding: 10px 0 ;
    @media screen and (max-width:992px) {
        display: none;
    }
    p {
        color: #fff;
        padding-bottom: 0;
    }
}

.welcome {
    float: left;
}

.kids-info {
    float: right;
}

.footer-type3 {
    .ftr-list span, .recent-list a {
        line-height: 24px;
    }
    @media screen and (max-width:767px) {
        .col-sm-3 {
            margin-bottom: 20px;
        }
    }
}


.business-header {
    nav li > a:hover {
        color: #e0a047 !important;
    }
}

.build-header {
    nav li > a:hover {
        color: #efad23 !important;
    }
}

.travel-enjoy {
    position: absolute;
    width: 200px;
    color: #fff;
    font-family: "Comic";
    font-size: 12px;
    top: -28px;
    left: -100px;
    text-align: center;

}